{% extends "layout.html" %} <!-- Inherits the basic layout from layout.html -->
{% block content %}

<div class="wrapper center">
  <section class="input-part">
    <header>Enter info:</header>
    <p class="info-txt"></p>
    <div class="content">
      <!-- Display form and submit button only if no city has been found -->
      {% if not message.city %}
        <form action="/recommend" method="post"> <!-- Add the form here -->
          <input type="text" id="inputState" name="state" spellcheck="false" placeholder="Enter state name" required>
          <br>
          <input type="text" name="temperature" spellcheck="false" placeholder="Enter desired temperature" required>
          <br>
          <button type="submit" id="submitButton">Submit</button>
        </form>

        <div class="separator"></div>

        <button type="button" id="getStateButton" onclick="getState()">Get State Automatically</button>
      {% endif %}

      <!-- Display city and temperature -->
      {% if message.text %}
        <div class="result" style="text-align: center;">
          <p>{{ message.text }}</p>
          {% if message.city %}
            <a href="https://www.google.com/maps/dir/{{ message.city }}" target="_blank">
              <button type="button">Let's Go</button>
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </section>

<script type="text/javascript">
  function getState() {
    navigator.geolocation.getCurrentPosition(function(position) {
      const lat = position.coords.latitude;
      const lon = position.coords.longitude;
      
      // Send a GET request to the geocode endpoint with the latitude and longitude
      fetch(`/geocode?lat=${lat}&lon=${lon}`)
        .then(response => response.json())
        .then(data => {
          // Get the state name from the response and fill the form
          const state = data.state;
          document.getElementById('inputState').value = state;
        });
    });
  }
</script>

{% endblock content %}
